.good__item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all ease 0.1s;
}

.good__item:hover {
  box-shadow: 0px 0px 12px 5px rgba(68, 68, 68, 0.2);
  transition: all ease 0.2s;
}

.good__item img {
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.item__title {
  font-size: 24px;
}

.item__desc {
  margin: 20px 0;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom__block {
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart__button {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  background-color: rgb(226, 226, 226);
  color: rgb(41, 41, 41);
  transition: all ease 0.2s;
}

.add-to-cart__button:hover {
  background-color: rgb(197, 197, 197);
  color: #fff;
  transition: all ease 0.2s;
}

.add-to-cart__button:active {
  transform: translateY(2px);
}

.item__price {
  font-size: 24px;
}

@media (max-width: 1120px) {
  .good__item img {
    height: 250px;
  }
}